<div class="container">
    <div class="footer-logo text-center">
        <a href="index.html"><img src="~/images/logo.png" alt=""></a>
    </div>
    <div class="row">
        <div class="col-lg-9 col-sm-6">
            @*<div class="footer-widget about-widget">
                <h2>About</h2>
                <p>Donec vitae purus nunc. Morbi faucibus erat sit amet congue mattis. Nullam frin-gilla faucibus urna, id dapibus erat iaculis ut. Integer ac sem.</p>
                <img src="~/divisima/img/cards.png" alt="">
            </div>*@
            
            <form class="header-search-form validate" action="https://azurewebsites.us20.list-manage.com/subscribe/post?u=74f805b452ace2a1a1827ea01&amp;id=7f4ce5e7f1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                <div class="indicates-required" style="color:white"><span class="asterisk color-white">*</span> Nhập email để theo dõi.</div>
                <input type="email" placeholder="Your email address" name="EMAIL" id="mce-EMAIL" class="email required" style="flex-grow:1">
                <button type="submit" name="subscribe" id="mc-embedded-subscribe"><img src="~/Hinh/follow.png" height="100"/></button>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none;color:white;"></div>
                    <div class="response" id="mce-success-response" style="display:none; color:white;"></div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_74f805b452ace2a1a1827ea01_7f4ce5e7f1" tabindex="-1" value=""></div>
            </form> 
          
            
            <!-- Begin Mailchimp Signup Form -->

            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="footer-widget about-widget">
                @*<h2>Questions</h2>
                <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Track Orders</a></li>
                    <li><a href="">Returns</a></li>
                    <li><a href="">Jobs</a></li>
                    <li><a href="">Shipping</a></li>
                    <li><a href="">Blog</a></li>
                </ul>
                <ul>
                    <li><a href="">Partners</a></li>
                    <li><a href="">Bloggers</a></li>
                    <li><a href="">Support</a></li>
                    <li><a href="">Terms of Use</a></li>
                    <li><a href="">Press</a></li>
                </ul>*@
            </div>
        </div>
    </div>
</div>
<div class="social-links-warp">
    <div class="container">
        <div class="social-links">
            <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
            <a href="" class="google-plus"><i class="fa fa-google-plus"></i><span>g+plus</span></a>
            <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
            <a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
            <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
            <a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
            <a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
        </div>
    </div>
</div>