<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Shop 13 - Thiên đường bánh ngọt. Còn gì tuyệt vời hơn khi bạn ghé thăm shop và chọn cho mình một gói bánh bổ dưỡng, thơm ngon. Các sp kẹo ngọt và bánh là một sự kết hợp hoàn hảo của nghệ thuật làm bánh và tay nghề khéo léo sẽ mang đến cho bạn một hương vị khó quên.">
    <meta name="keywords" content="clothes, fashion, shop">
    <meta name="author" content="Nhóm 13">
    <link href="~/favicon.ico" rel="shortcut icon" />
    <title>@ViewData["Title"]</title>
    @RenderSection("metaSocial", required: false)
    <!-- Favicon -->

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="~/divisima/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/divisima/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/divisima/css/flaticon.css" />
    <link rel="stylesheet" href="~/divisima/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/divisima/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/divisima/css/animate.css" />
    <link rel="stylesheet" href="~/divisima/css/style.css" />
    <link href="~/css/site.css" rel="stylesheet" />

    @await Html.PartialAsync("_GoogleAnalytics")
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <header class="header-section">
        @await Html.PartialAsync("_HeaderTop")
        @await Component.InvokeAsync("HorizontalMenu")
    </header>
    <div>
        @RenderBody()
    </div>  
    <div>
        @await Html.PartialAsync("_TalkTo")
    </div>
    
    <section class="footer-section">
        @await Html.PartialAsync("_Footer")
    </section>
    <script src="~/divisima/js/jquery-3.2.1.min.js"></script>
    <script src="~/divisima/js/bootstrap.min.js"></script>
    <script src="~/divisima/js/jquery.slicknav.min.js"></script>
    <script src="~/divisima/js/owl.carousel.min.js"></script>
    <script src="~/divisima/js/jquery.nicescroll.min.js"></script>
    <script src="~/divisima/js/jquery.zoom.min.js"></script>
    <script src="~/divisima/js/jquery-ui.min.js"></script>
    <script src="~/divisima/js/main.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
