@model IEnumerable<Tai.DataModels.Product>
@{
    ViewData["Title"] = "Sản phẩm";
}
<!-- Page info -->
<div class="page-top-info">
    <div class="container">
        <h4>@Model.FirstOrDefault().Category?.CategoryName</h4>
        <div class="site-pagination">
            <a href="/">Home</a> /
        </div>
    </div>
</div>
<!-- Page info end -->
<!-- Category section -->
<section class="category-section spad">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("HorizontalMenu", new { isHor = false })
            <div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-sm-6">
                            @await Component.InvokeAsync("Item",new { product = item})
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Category section end -->

@section Scripts{
    <script type="text/javascript">
        function AddToCart(product, qty) {
            var data = {
                "Product": {
                    "ProductId": product
                },
                "Quantity": qty
            };
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    location.reload();
                }
            };
            xhttp.open("POST", "/Cart/AddToCart");
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify(data));
        }
    </script>
}