@model Tai.Models.HomeModels.IndexModel
@using Tai.Models
@{
    ViewData["Title"] = "Trang chủ";
}

<!-- letest product section -->
<section class="top-letest-product-section">
    <div class="container">
        <div class="section-title">
            <h2>Sale</h2>
        </div>
        <div class="product-slider owl-carousel">
            @foreach (var item in Model.ProductSales)
            {
                @await Component.InvokeAsync("Item",new { product = item})
            }
        </div>
    </div>
</section>
<!-- letest product section end -->
<!-- Product filter section -->
<section class="product-filter-section">
    <div class="container">
        <div class="section-title">
            <h2>BROWSE TOP SELLING PRODUCTS</h2>
        </div>
        <ul class="product-filter-menu">
            @foreach (var item in Model.GetCategories)
            {
                <li><a href="/trang-chu/@item.CategoryName.ToUrlFriendly()">@item.CategoryName</a></li>
            }
        </ul>
        <div class="row">
            @foreach (var item in Model.ProductTopSells)
            {
                <div class="col-lg-3 col-sm-6">
                    @await Component.InvokeAsync("Item", new { product = item })
                </div>
            }
        </div>
        @*<div class="text-center pt-5">
            <button class="site-btn sb-line sb-dark">LOAD MORE</button>
        </div>*@
    </div>
</section>
<!-- Product filter section end -->
